{% extends "base.html" %}

{% block content %}

<dl class="dl-horizontal">
	<h3>User Details</h3>
	<dt>Email</dt>
	<dd>{{user.username}}</dd>
</dl>

<h1>Polls Created</h1>
<div class="container">
<table class="table">
	<thead>
		<th>ID</th>
		<th>Question</th>
	</thead>

	<tbody>
		{% for poll in user_poll_list %}
		<tr>
			<td>{{poll.id}}</td>
			<td><a href="/polls/{{poll.id}}/results/">{{ poll.question }}</a></td>
			<td><a href="/polls/{{poll.id}}/delete/">Delete</a></td>
		</tr>
			{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}
