{% extends "base.html" %}

{% block content %}

<!---
<dl class="dl-horizontal">
	<dt>Email</dt>
	<dd>{{user.username}}</dd>
</dl>
--!>

<div class="container" style="max-width: 700px;">
	{% if message %}
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{message}}
	</div>
	{% endif%}
	<h3 style="text-align:center;">Polls Created</h3>

<table class="table table-bordered table-condensed" style="margin: 30px;" >
	<thead>
		<th>ID</th>
		<th>Question</th>
		<th>Delete Poll?</th>
	</thead>

	<tbody>
		{% for poll in user_poll_list %}
		<tr>
			<td>{{poll.id}}</td>
			<td><a href="/polls/{{poll.id}}/results/">{{ poll.question }}</a></td>
			<td><a href="#myModal{{forloop.counter}}" role="button" class="btn" data-toggle="modal">Delete</a></td>
		</tr>
			{% endfor %}
	</tbody>
</table>
</div>

{% for poll in user_poll_list %}

<div id="myModal{{forloop.counter}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div  class="modal-header" >
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
		<h3>Delete Poll</h3>
	</div>

	<div class="modal-body">
		<p>Are you sure you wish to delete this poll?</p>
	</div>
	<div class="modal-footer">
		<a href="/polls/user/account/" class="btn">Cancel</a>
		<a href="/polls/{{poll.id}}/delete/" class="btn btn-primary">Delete</a>
	</div>
</div>
{% endfor %}

{% endblock %}
