{% extends "base.html" %}

{% block content %}

<div class="span4">
	<h1>{{ question }}</h1>
	<form method="post" action="/polls/poll_complete/">
		{% csrf_token %}
		<label>Question:</label><input type="text" name="question" value="{{question}}">
		<p>Create your choices:</p>
		{% for choice in choicelist %}
		<label>Choice</label> <input type="text" name ="{{choice}}" placeholder="Choice">
		{% endfor %}
		{% if restricted %}
		<input type="text" name="restricted_domain" placeholder="@example.com">
		{% endif %}
		<input class="btn" type="submit" value = "Add choices">
	</form>
</div>


<div>
{% if restricted %}
<p>This poll is restricted</p>
{% else %}
<p>this poll is not restricted.</p>
{% endif %}
</div>



{% endblock %}
