{% extends "base.html" %}

{% block content %}

	<form method="POST" action="/polls/create_poll/2/" class="form-horizontal">
		{% csrf_token %}

			<h1 style="text-align: center; margin: 20px; ">Create a Poll</h1>

		<div class="container" style="margin: 30px 300px;">

		<div style="margin: 0px 50px;">
		<div class="control-group">
			<label class="control-label">Question</label>
			<div class="controls">
				<input type="text" name="question" placeholder="Your question here">
			</div>
	</div>

		<div class="control-group">
			<label class="control-label">How many choices?</label>
			<div class="controls">
				<select name="no_of_choices" placeholder="How many choices?">
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
				</select>
			</div>
		</div>

		</div>

		<div class="control-group">
		<div class="controls">
			<legend style="max-width:450px; ">Vote Controls</legend>

			<label class="radio">
				<input type="radio" name="restrict" value="no_restriction" checked>No restriction on who votes, but all can only vote once.
			</label>

			<label class="radio">
				<input type="radio" name="restrict" value="restrict_choice">Control who votes (e.g. only those with a @tcd.ie email)
			</label>

			<label class="radio">
				<input type="radio" name="restrict" value="email_restrict">Control who votes by supplying a list of emails
			</label>

			

			<input class="btn" style="margin-top: 20px;" type="submit" value="Add some choices >>">
	</div>
	</div>

			

{% endblock %}
