{% extends "base.html" %}

{% block content %}

<div class="span4">
	<h1>{{ question }}</h1>
	<form class="form-horizontal "method="post" action="/polls/poll_complete/">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label">Question:</label>
			<div class="controls">
				<input type="text" name="question" value="{{question}}">
			</div>
		</div>

		{% for choice in choicelist %}
		<div class="control-group">
				<label class="control-label">Choice</label>
				<div class="controls">
					<input type="text" name ="{{choice}}" placeholder="Choice">
				</div>
		</div>
		{% endfor %}


		{% if restricted %}
			<div class="input-prepend">
				<span class="add-on">@</span>
				<input class="span2" type="text" name="restricted_domain" placeholder="example.com">
		{% endif %}
		<input class="btn" type="submit" value = "Add choices">
	</form>
</div>


{% endblock %}
