{% extends "base.html" %}

{% block content %}

<div class="container" style="">
	<h2 style="text-align: center;">{{ question }}</h2>
	<form class="form-horizontal" style="margin: 20px 300px;"  method="post" action="/polls/poll_complete/">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label">Question:</label>
			<div class="controls">
				<input type="text" name="question" value="{{question}}">
			</div>
		</div>

		{% for choice in choicelist %}
		<div class="control-group">
			<label class="control-label">Choice {{forloop.counter}}:</label>
			<div class="controls">
				<input type="text" name ="{{choice}} " placeholder="Choice">
			</div>
		</div>
		{% endfor %}

		{% if add_close_date %}
		<div class="control-group">
			<label class="control-label">Close poll at:</label>
			<div class="controls">
				<input size="16" type="text" value="2012-06-15 14:45"  name="close_time" class="form_datetime">
			</div>
		</div>


			<script type="text/javascript">
				$(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
			</script>


		{% endif %}


		{% if restricted or restricted_by_list %}
			<div class="control-group">
				<label class="control-label">Email restriction</label>
				<div class="controls">
					<div class="input-prepend">
						{% if restricted %}
						<input class="span2" type="text" name="restricted_domain" placeholder="example.com">
						{% else %}
						<textarea  rows="3" name="email_list" placeholder="email1@example.com, email2@example.com, email3@example.com"></textarea>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}


		
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-large btn-primary" type="submit" value = "Publish poll">
			</div>
		</div>
	</form>
</div>

{% endblock %}
