{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width: 700px;">
	<div style="text-align: center; ">
		<h1 style="font-size: 72px; line-height: 1.5; ">Daphlet Polls</h1>
		<p class="lead">Here, you can organise closed polls. For example, you can restrict voting only to voters of an @tcd.ie email. To vote, each user must register so that they only have one vote each. </p>
		<a href="/polls/create_poll/1/" class="btn btn-primary btn-large">Create a poll >></a>
</div>

<hr style="margin: 30px 0px;">

<div class="row-fluid marketing" style="text-align: center; margin-top: 40px; max-width: 800px; ">
<div class="span6" style="max-width: 310px;">
	<h2>Create a Poll</h2>
	<p>Create a poll. Then, we will email you the link, which you can send on to whoever you want. You can see who votes, but not how they vote - all polls are anonymous.</p>

</div>

<div class="span6" style="max-width: 310px; float: right;">
	<h2>Control Who Votes</h2>
	<p>You can restrict what email accounts are allowed to vote - all you need to do is provide us with the domain e.g. @gmail.com will allow only those with a gmail account to vote.</p>
</div>

</div>

<hr style="margin: 30px 0px;">
<div class="footer">
	<p>&copy; <a href="mailto:toconnor13@gmail.com">Tony O'Connor 2013</p>
</div>




{% endblock %}




