{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="hero-unit">
	<h1>
		Welcome to Daphlet!  
	</h1>
	<p>Here, you can organise closed polls.  For example, you can restrict voting only to voters of an @tcd.ie email, or supply a list of emails addresses eligible in advance.

	</p>
</div>

<div class="span4">
<h1>List of polls</h1>
{% if latest_poll_list %}
	<ul>
		{% for poll in latest_poll_list %}
		<li> <a href = "/polls/{{poll.id}}/" >{{poll.question}}</a> -- {{ poll.vote_count }} vote{{poll.vote_count|pluralize }} cast </li>
		{% endfor %}
	</ul>

{% else %}
	<p>No polls are available.</p>
	{% endif %}
</div>

<div class="span4">
	<h1>Create a poll</h1>
	<form method="post" action="/polls/create_poll/">
		{% csrf_token %}
		<input type="text" name="question" placeholder="Question"><br/>
		<select name="no_of_choices" placeholder="How many choices?">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select><br/>
		<input class="btn" type="submit" value="Next">
		<div class="span4">

<!--			
<h1>Submit a poll</h1>
<form method="post" action="/polls/submit/">
	{% csrf_token %}
	<label>Question:</label> <input type="text" name="question"><br/>
	<label>Choice 1:</label> <input type="text" name="choice_1"><br/>
	<label>Choice 2:</label> <input type="text" name="choice_2"><br/>
	<label>Choice 3:</label> <input type="text" name="choice_3"><br/>
	<input class="btn" type="submit" value="Submit poll">
</div>
-->



</div>
{% endblock %}




