{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width: 700px">
	<div class="jumbotron">
		<h1>Daphlet Polls</h1>
		<p>Here, you can organise closed polls. For example, you can restrict voting only to voters of an @tcd.ie email, or supply a list of emails addresses eligible in advance. </p>
		<a href="/polls/create_poll/1/"class="btn btn-primary btn-large">Create a poll >></a>
	</div>
</div>


<div class="span4">
	<h2>Create a Poll</h2>
	<p>Create a poll. Then, we will email you the link, which you can send on to whoever you want. You can see who votes, but not how they vote - all polls are anonymous.</p>

</div>

<div class="span4">
	<h2>Control Who Votes</h2>
	<p>You can restrict what email accounts are allowed to vote - all you need to do is provide us with the domain e.g. @gmail.com will allow only those with a gmail account to vote.</p>
</div>




{% endblock %}




