<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{% block title %}Daphlet Polling{% endblock %}</title>
		<script src="{{STATIC_URL}}jquery.js"></script>
		<script src="{{STATIC_URL}}bootstrap.js"></script>
	
		<!-- Styles-->
		<link rel="stylesheet" href="{{STATIC_URL}}style.css"  />
		<link rel="stylesheet" href="{{STATIC_URL}}bootstrap-responsive.css"  />
		<link rel="shortcut icon" href="favicon.ico" />
		<style type="type/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
				padding-left: 40px;
				padding-right: 40px;
			}
		</style>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<a class="brand">Daphlet Polling</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
					

					<ul class="nav pull-right">
						<li><a href="#">Sign Up</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<b class="caret"></b></a>
							 <div class="dropdown-menu">
								 <form method="post" action="../accounts/register/">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username"><br/>
	<input type="text" name="email" placeholder="Email"><br/>
	<input type="password" name="password" placeholder="Password"><br/>
<input class="btn" type="submit" value="Register"/>
</form> 
                			</div>
						</li>
						<li style="padding: 10px 0px 0px 10px;">
							<p>{% if user.is_authenticated %}Welcome, {{user.username}}, you are logged in.{% else %}You are not logged in.{% endif %} </p>
						</li>
					</ul>
					
				</div>
			</div>
			</div>
			</div>
		<div style="padding-top: 45px;">
			{% block content %}{% endblock %}
		</div>


		<script type="text/javascript">
			  // Fix input element click problem
			  $('.dropdown input, .dropdown label').click(function(e) {
				e.stopPropagation();
			  });
			});
		</script>
	</body>
</html>				

